body{
	background-color: #264653;
	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
ul{
	list-style-type: none;
	background-color: #2A9D8F;
	overflow: hidden;
	position:sticky;
	top: 0;
	margin: 0;
	padding: 0;

}
li a{
	display: block;
	color: white;
	margin: 8px 12px;
	padding: 5px;
	float: right;
	text-align: center;
	text-decoration: none;
}

.nav-links a{
	position: relative;
}

.nav-links a::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 3px;
	background-color: #264653;
	left: 50%;
	bottom: 0;
	transition: all 0.3s ease-in-out;
}

.nav-links a:hover::after {
	width: 100%;
	left: 0;
}

.logo-social{
	height: 32px;
	width: 32px;
	position: relative;
	fill: #686B73;
}
.logo-social{
	transition: fill 0.3s ease-in-out;
}
#linkedin:hover{
	fill: blue;
}
#github:hover{
	fill:black;
}
.info{
	margin: 100px 100px;
}
